<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/icons/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>POS Orders</title>
</head>
<body>
<div>
    {% block content %} {% endblock %}
</div>
<script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/jquery-3.6.3.min.js') }}"></script>

<script>

$(document).ready(function(){

        $('#accept-order').click(function(){
            let table = $(this).data('table')
            $.post('/accept', {table: table}).then(function(){
                alert('Orders Printed')
                document.location.reload()
            });
        });

	OptimizeTableView();

});

$(window).resize(function() {
  OptimizeTableView();
});

function OptimizeTableView(){

  let maxx = 0;
  let maxy = 0;
  let tw   = 100; // table with
  let th   = 50;  // table height
  let fx   = 1;
  let fy   = 1;
  let ww   = $(window).width();
  let wh   = $(window).height()-60-20;
  
  // get max values
  $('.tablex').each(function(){

    let x = $(this).data('x');
    if(x>maxx) maxx = x;

    let y = $(this).data('y')
    if(y>maxy) maxy = y;

  });

  if(maxx > ww ) fx = ww/(maxx+tw); 
  if(maxy > wh ) fy = wh/(maxy+th); 
  
  // optimze view
  $('.tablex').each(function(){
    let x = ($(this).data('x') * fx);
    let w = (tw * fx);
    let y = ($(this).data('y') * fy);
    let h = (th * fy);

    $(this).css('left',x);
    $(this).css('width',w);
    $(this).css('top',y);
    $(this).css('height',h);
  });
}


</script>
</body>
</html>