<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/icons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <title>POS Orders</title>
  <style type="text/css">
    .box{
        position: relative;
        float: left;
        text-align: center;
        margin-left: 5px;
        margin-top: 5px;
        width: 112px;
        height: 112px;
        background: #f9e665;
        cursor: pointer;
        font-size: 10px;
        line-height: 10px;
        /* box-shadow: 0px 0px 1px 1px #999; */
        overflow: hidden;
        color: #130f40;
    }
  /*******************************
  * MODAL AS LEFT/RIGHT SIDEBAR
  * Add "left" or "right" in modal parent div, after class="modal".
  * Get free snippets on bootpen.com
  *******************************/
    .modal.left .modal-dialog,
    .modal.right .modal-dialog {
      position: fixed;
      margin: auto;
      width: 320px;
      height: 100%;
      -webkit-transform: translate3d(0%, 0, 0);
          -ms-transform: translate3d(0%, 0, 0);
          -o-transform: translate3d(0%, 0, 0);
              transform: translate3d(0%, 0, 0);
    }

    .modal.left .modal-content,
    .modal.right .modal-content {
      height: 100%;
      overflow-y: auto;
    }
    
    .modal.left .modal-body,
    .modal.right .modal-body {
      padding: 15px 15px 80px;
    }

  /*Left*/
    .modal.left.fade .modal-dialog{
      left: -320px;
      -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
          -o-transition: opacity 0.3s linear, left 0.3s ease-out;
              transition: opacity 0.3s linear, left 0.3s ease-out;
    }
    
    .modal.left.fade.in .modal-dialog{
      left: 0;
    }
          
  /*Right*/
    .modal.right.fade .modal-dialog {
      right: -320px;
      -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
          -o-transition: opacity 0.3s linear, right 0.3s ease-out;
              transition: opacity 0.3s linear, right 0.3s ease-out;
    }
    
    .modal.right.fade.in .modal-dialog {
      right: 0;
    }
    #modal-holder .modal-backdrop, #modal-holder .modal{
      position:absolute !important;
    }
  </style>
</head>

<body>
  <div>
    {% block content %} {% endblock %}
  </div>
  <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename= 'js/jquery-3.6.3.min.js') }}"></script>

  <script>

    let markedBg = '#4788ff';
    let markedColor = '#fff';

    function throttle(f, delay){
      var timer = null;
      return function(){
          var context = this, args = arguments;
          clearTimeout(timer);
          timer = window.setTimeout(function(){
              f.apply(context, args);
          },
          delay || 500);
      };
    }

    $(document).ready(function () {

      $("body").on("click","#group-modal-button",function(){
          $("#group-modal").modal("show");
          $("#modal-holder").addClass("after_modal_appended");
          //appending modal background inside the blue div
          $('.modal-backdrop').appendTo('#modal-holder');
          //remove the padding right and modal-open class from the body tag which bootstrap adds when a modal is shown
        
          $('body').removeClass("modal-open")
          $('body').css("padding-right","");     
      });
      $('.modal').on('click', '.close', function(){
          $("#group-modal").modal("hide");
      });
      $('#remarksModal').hide();

      $('.orderLine').each(function () {
        restoreColors();
      })

      $('.addQty').addClass('disabled');
      $('.minusQty').addClass('disabled');
      $('.remarks').addClass('disabled');

      $(document).on('click', '#accept-order', function () {
        let s = $(this);
        let table = $(this).data('table')


        let items = [];

        $('.orderLine').each(function () {

          if (!$(this).hasClass('printed')) {
            let barcode = $(this).data('barcode') + '';
            let nameEl = $(this).find('.itemName');
            let qtyEl = $(this).find('.itemQty');
            let priceEl = $(this).find('.itemPrice');
            let remarksEl = $(this).find('.itemRemarks');

            items.push({
              'barcode': barcode,
              'name': $.trim(nameEl.text()),
              'qty': parseInt($.trim(qtyEl.text())),
              'price': $.trim(priceEl.text()),
              'remarks': $.trim(remarksEl.text())
            })
          }
        });

        let payload = {
          "table_name": table,
          "order_items": items,
        }

        if (items.length > 0) {
          s.prop('disabled', true);
          $.ajax({
            url: '/accept',
            type: "POST",
            data: JSON.stringify(payload),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
              if ('error' in response) {
                alert(response.error)
              } else {
                alert(response.success)
                $('#newOrdersTable').find('.orderLine')
                  .remove()
                  .end()
                getOrders();
              }
              s.prop('disabled', false);
            }
          });
        }
      });

      getOrders();

      OptimizeTableView();

      $(document).on('click', '#category', function () {
        let category = $(this).data('category');

        let path = '/products?category=' + category;
        getProducts(path);
      })

      $(document).on('click', '.showMoreProducts', function () {
        let category = $(this).data('category');
        let group = $(this).data('group');

        let path = '/products?category=' + category + '&group=' + group;
        getProducts(path);
      })

      $('#search').keyup(throttle(function(){
        if ($('#search').val().length > 0) {
            let path = '/products?search=' + $('#search').val();
            getProducts(path);
        }
      }, 1000));
      $('#search').focusout(function(){ $(this).blur() });
      $('#search').keyup(function(e){ 
        if (e.keyCode == 13) $(this).blur();
      });

      $(document).on('click', '.orderLine', function () {
        restoreColors();
        markedLine($(this));
      });

      $(document).on('click', '.addItem', function () {
        $('#remarksModal').hide();

        let barcode = $(this).data('barcode');
        let name = $(this).data('name');
        let price = parseFloat($(this).data('price')).toFixed(2);
        let qty = 1;

        $('#search').val('');

        appendItem(barcode, name, qty, price);
        totalPrice();
        activateTools();
      });

      $('.addQty').click(function () {
        if ($('.active').hasClass('printed')) {
          let barcode = $('.active').data('barcode');
          let nameEl = $('.active').find('.itemName');
          let qtyEl = $('.active').find('.itemQty');
          let priceEl = $('.active').find('.itemPrice');
          let remarksEl = $('.active').find('.itemRemarks');

          appendItem(barcode, nameEl.text(), 1, (parseFloat(priceEl.text()) / parseInt(qtyEl.text())).toFixed(2), remarksEl.text());
          totalPrice();
          activateTools()
        } else {
          let qtyEl = $('.active').find('.itemQty');
          let priceEl = $('.active').find('.itemPrice');
          let qty = parseInt(qtyEl.text()) + 1;
          let oPrice = parseFloat(priceEl.text()) / parseInt(qtyEl.text());
          let price = (oPrice * qty).toFixed(2);
          qtyEl.text(qty);
          priceEl.text(price);
          totalPrice();
        }
      });

      $(document).on('click', '.minusQty', function () {
        $('#remarksModal').hide();

        if (!$('.active').hasClass('printed')) {
          let priceEl = $('.active').find('.itemPrice');
          let qtyEl = $('.active').find('.itemQty');
          let oPrice = parseFloat(priceEl.text()) / parseInt(qtyEl.text());
          let price = parseFloat(priceEl.text()) - oPrice;
          let qty = parseInt(qtyEl.text()) - 1;

          if (qty <= 0) {
            $('.active').remove();
            return totalPrice();
          }

          qtyEl.text(qty);
          priceEl.text(price.toFixed(2));
          totalPrice();
        } else {
          let line = $('.active').data('line');
          let client = $('#tablename').data('client');
          let barcode = $('.active').data('barcode');

          let payload = { "client": client, "line": line, "barcode": barcode };

          if (window.confirm('Void this item?') == true) {
            $.ajax({
              url: '/voidItem',
              type: "POST",
              data: JSON.stringify(payload),
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function (response) {
                console.log('void response', response)
                alert('Item Cancelled')
                getOrders();
              }
            });
          }
        }
      });

      $('.remarks').click(function () {
        if ($('.active').hasClass('printed')) return false;

        let remarksEl = $('.active').find('.itemRemarks');
        $('#remarkInput').val(remarksEl.text())

        let barcode = $('.active').data('barcode');
        $.post('/remarks', { "barcode": barcode }).then(function (response) {
          $('#remarksModal').show();

          let nameEl = $('.active').find('.itemName');
          $('#remarkProduct').text(nameEl.text())

          $('#remarkOptions').find('button')
            .remove()
            .end()

          response.forEach(obj => {
            $('#remarkOptions').append('<div><button id="remarkOption" type="button" class="btn btn-light w-100 mb-2" value="' + obj.remarks + '">' + obj.remarks + '</button></div>')
          });
        });
      });

      $('#remarkInput').on('change', function () {
        let remarksEl = $('.active').find('.itemRemarks');
        remarksEl.text($(this).val());
        $('#remarksModal').hide();
        $('#remarkInput').blur();
      }).focusout(function () {
        $('#remarksModal').hide();
      });

      $(document).on('click', '#remarkOption', function () {
        let remarksEl = $('.active').find('.itemRemarks');

        let remark = remarksEl.text() + ' ' + $(this).val();

        remarksEl.text(remark);
        $('#remarkInput').val(remark)

        $('#remarksModal').hide();
      });

      $('#closeRemarks').click(function () {
        $('#remarksModal').hide();
      });

    });

    $(window).resize(function () {
      OptimizeTableView();
    });

    function appendItem(barcode, name, qty, price, remarks = '') {
      restoreColors();
      $("#newOrdersTable").append('<tr data-barcode="' + barcode + '" class="orderLine active alert alert-warning border-0" style="background-color:' + markedBg + '; color:' + markedColor + '"><td style="width:50%; padding:3px;"><small class="itemName">' + name.toUpperCase() + '</small><div class="itemRemarks" style="color:red;font-size:11px">' + remarks + '</div></td><td style="width:15%; padding:3px;" class="text-end itemQty">' + qty + '</td><td style="width:35%; padding:3px;" class="text-end itemPrice">' + price + '</td></tr>');
      $("#orderContainer").animate({ scrollTop: $('#orderContainer').prop("scrollHeight") }, 1000);
    }

    function markedLine(el) {
      el.addClass('active');
      el.css('background-color', markedBg);
      el.css('color', markedColor);

      activateTools();
    }

    function restoreColors() {
      $('.orderLine').each(function () {
        $(this).removeClass('active');

        let bgColor = $(this).hasClass('printed') ? '#0bd480' : '#e5ed98';
        let textColor = '#000';
        $(this).css('background-color', bgColor);
        $(this).css('color', textColor);
      });
    }

    function activateTools() {
      if ($('.active').hasClass('printed')) {
        $('.addQty').removeClass('disabled');
        $('.minusQty').removeClass('disabled');
        $('.remarks').addClass('disabled');
      } else {
        $('.addQty').removeClass('disabled');
        $('.minusQty').removeClass('disabled');
        $('.remarks').removeClass('disabled');
      }
    }

    function getOrders() {
      let client = $('#tablename').data('client');
      $.get('/orders?client=' + client).then(function (response) {
        let orders = response.orders;
        console.log(orders);

        $('#printedOrdersTable').find('.printed')
          .remove()
          .end()

        orders.forEach(item => {
          $("#printedOrdersTable").append('<tr data-line="' + item.id + '" data-client="' + item.client + '" data-barcode="' + item.barcode + '" class="orderLine alert printed border-0"><td style="width:50%; padding:3px;"><small class="itemName">' + item.name + '</small><div style="color:red;font-size:11px" class="itemRemarks">' + item.remarks + '</div></td><td style="width:15%; padding:3px;" class="text-end itemQty">' + parseInt(item.qty) + '</td><td style="width:35%; padding:3px;" class="text-end itemPrice">' + parseFloat(item.amount).toFixed(2) + '</td></tr>');
        });

        restoreColors();
      });
    }

    function getProducts(path) {
      $.get(path).then(function (response) {
        let products = response['products'];
        let subProducts = response['subProducts'];

        if(subProducts.length > 0){
          $('#products-container').css({height: '50%'});
          $('#sub-products-container').css({height: '50%'});
        }else{
          $('#products-container').css({height: '100%'});
          $('#sub-products-container').css({height: '0%'});
        }

        $('#products').find('.product')
          .remove()
          .end()

        products.forEach(product => {
          $('#products').append('<div class="box mb-2 product ' + (product.barcode > '' ? 'addItem' : 'showMoreProducts') + '" data-barcode="' + product.barcode + '" data-name="' + product.itemname + '"  data-price="' + product.amt + '" data-category="' + product.class + '" data-group="' + product.itemname + '"><button type="button" class="btn btn-light w-100 h-100 text-button-label">' + product.itemname + '</button></div>')
        });

        $('#subProducts').find('.subProduct')
          .remove()
          .end()

        subProducts.forEach(subProduct => {
          $('#subProducts').append('<div class="box mb-2 addItem subProduct" data-barcode="' + subProduct.barcode + '" data-name="' + subProduct.itemname + '"  data-price="' + subProduct.amt + '"><button type="button" class="btn btn-light w-100 h-100 text-button-label">' + subProduct.itemname + '</button></div>')
        });
      });
    }

    function totalPrice() {
      let total = 0;
      $('.orderLine').each(function () {
        let priceEl = $(this).find('.itemPrice');
        total += parseFloat($.trim(priceEl.text()));
      });

      $('#total').text(total.toFixed(2));
    }

    function OptimizeTableView() {

      let maxx = 0;
      let maxy = 0;
      let tw = 100; // table with
      let th = 50;  // table height
      let fx = 1;
      let fy = 1;
      let headh = $('#floorSelect').length ? $('#floorSelect').height() : 0;
      let ww = $(window).width();
      let wh = $(window).height() - headh - 20;

      // get max values
      $('.tablex').each(function () {

        let x = $(this).data('x');
        if (x > maxx) maxx = x;

        let y = $(this).data('y')
        if (y > maxy) maxy = y;

      });

      if (maxx > ww) fx = ww / (maxx + tw);
      if (maxy > wh) fy = wh / (maxy + th);
      console.log(fx, fy);
      // optimze view
      $('.tablex').each(function () {
        let x = ($(this).data('x') * fx);
        let w = (tw * fx);
        let y = ($(this).data('y') * fy);
        let h = (th * fy);

        $(this).css('left', x);
        $(this).css('width', w);
        $(this).css('top', y);
        $(this).css('height', h);
      });
    }


  </script>
</body>

</html>