{% extends 'base.html' %}
{% block content %}
<div id="observer-wrapper" style="height:100%;width:100%;background:#34495e; overflow:auto;">
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename= 'js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/masonry.min.js') }}"></script>
<script type="text/javascript">
    var socket = io();
    function Kitchen(){
        this.kitchen = null;
        this.observe = [];
        this.kitchenOptions = [];
        this.kitchens = [];
        this.dropdowns = [];
        this.width = function(){
            let w = (Math.floor(window.screen.width / 6)); 
            if(w < 250) w = 250;
            return w
        }
        this.getKitchens = function(){
            let kitchen = window.localStorage.getItem('kitchen')
            let observe = window.localStorage.getItem('observe')
            if(!observe) this.observe = []
            else this.observe = JSON.parse(observe)
            if(!kitchen) this.kitchen = null
            else this.kitchen = JSON.parse(kitchen)
        }
        this.saveKitchens = function (){
            if(this.kitchen == null){
                alert('Please select priority kitchen');
                return false;
            }
            window.localStorage.setItem('kitchen', JSON.stringify(this.kitchen));
            window.localStorage.setItem('observe', JSON.stringify(this.observe));
            document.location.reload();
        }
        this.selectKitchen = function(){
            let self = this
            let card = $('<div />').addClass('shadow-sm card border-0 mx-auto').width(this.width());
            let cardBody = $('<div />').addClass('card-body p-5');
            if(this.kitchenOptions.length){
                let priority = $('<div />').addClass("mb-3")
                $('<label />').addClass('form-label fw-bold').html('Priority').appendTo(priority);

                let select = $('<select />').addClass('form-select').change(function(){
                    self.kitchen = $(this).val()
                    self.selectKitchen()
                });
                $('<option selected />').html('Select Printer').appendTo(select)
                this.kitchenOptions.forEach((row, i) => {
                    $('<option />').attr('value', row.printer).attr('selected', row.printer == this.kitchen).html(row.printer).appendTo(select)
                });
                select.appendTo(priority)
                priority.appendTo(cardBody)

                let observe = $('<div />').addClass("mb-3")
                $('<label />').addClass('form-label fw-bold').html('Observe').appendTo(observe);
                this.kitchenOptions.forEach((row, i) => {
                    if(row.printer != this.kitchen){
                        let id = 'btn-check-'+i;
                        $('<div />').addClass('form-check form-switch').append(
                            $('<input />').attr('type', 'checkbox').addClass('form-check-input').attr('id', id).attr('autocomplete', 'off').change(function(){
                                if($(this).is(':checked')){
                                    if(!self.observe.includes(row.printer)){
                                        self.observe.push(row.printer)
                                    }
                                }else{
                                    const index = self.observe.indexOf(row.printer)
                                    self.kitchens.splice(index, 1);
                                }
                            }),
                            $('<label />').addClass('form-check-label').attr('for', id).html(row.printer)
                        ).appendTo(observe);
                    }
                });
                observe.appendTo(cardBody)
            }
            let cardFooter = $('<div />').addClass('card-footer text-center bg-white border-0 p-5');
            $('<button />').attr('type', 'button').addClass('btn btn-primary').click(async function(){
                $(this).prop('disabled', true).html('Getting Orders...');
                await self.saveKitchens();
                $(this).prop('disabled', false).html('Start Observing');
            }).html('Start Observing').appendTo(cardFooter);
            $('<div />').addClass('card-header border-0 text-center text-uppercase bg-primary text-white fs-5').html('Observe Orders From').appendTo(card)
            cardBody.appendTo(card)
            cardFooter.appendTo(card)

            $('#observer-wrapper').css({
                padding: '30px 0',
                height:window.innerHeight+'px',
            }).html(card);
        }

        this.table = function(object){
            let self = this;

            if(!$('#table-'+object.client).length){
                card = $('<div />').addClass('card m-1 border-0 shadow-sm').attr('id', 'table-'+object.client);
                $('<div />').addClass('card-header border-0 bg-primary  d-flex justify-content-between').append(
                    $('<pan />').addClass('text-white fs-6 fw-bold text-uppercase').html(object.name),
                    $('<a />').attr('href', 'javascript:void(0);').addClass('text-white text-decoration-none d-none').attr('id', 'table-dropdown-'+object.client).click(async function(){
                        if(!self.dropdowns.includes(object.client)){
                            self.dropdowns.push(object.client)
                        }else{
                            const index = self.dropdowns.indexOf(object.client)
                            self.dropdowns.splice(index, 1); 
                        } 
                        await self.table(object)
                        $('.grid').masonry()
                    })
                ).appendTo(card);
                $('<div />').addClass('card-body p-0').appendTo(card);
                $('<div />').css({width: this.width()+'px'}).addClass('mb-2').html(card).appendTo($('#tables-wrapper'))
            }
            $('#table-'+object.client).find('.card-body').html('');
            if(!object.items.length) return false;

            let duration = null;
            let cntr = 0;
            let groupings = {};
            let completed = true;
            let latest = 0;
            object.items.forEach((item) => {
                let row = $('<div />').attr('id', 'id-'+item.id).css('margin', '1px 2px');
                let pending = $('<div />').addClass('bg-warning').css('--bs-bg-opacity', '.35')
                if(item.printer == this.kitchen){
                    pending = $('<a />').attr('type', 'button').addClass('bg-white').css('border', '1px solid #efefef');
                    pending.click(function(){
                        $.post('/order/serve/out', {id:item.id});
                    });
                }
                pending.addClass('text-decoration-none rounded-1 p-1 d-block');
                $('<div />').addClass('text-uppercase').addClass(item.printer == this.kitchen ? 'fw-bold text-dark': 'text-secondary').css('font-size', '1rem').html(item.qty+' '+item.name).appendTo(pending);
                if(item.group != 'A') $('<div />').addClass('small text-secondary').html('- Group '+item.group).appendTo(pending);
                if(item.remarks > '') $('<div class="small text-danger" />').html('- '+item.remarks).appendTo(pending);

                let served = $('<div />')
                if(item.printer == this.kitchen){
                    served = $('<a />').attr('href', 'javascript:void(0)').click(function(){
                        $.post('/order/serve/recall', {id:item.id});
                    });
                }
                served.addClass('rounded-1 p-1 served d-block text-dark text-decoration-none d-flex justify-content-between').css('background','#e4e4e4');
                let g = item.group != 'A' ? '<i>('+item.group+')</i>':''
                $('<div />').append(
                    $('<div />').addClass('text-uppercase').css('font-size', '.9rem').html(item.qty+' '+item.name+g),
                    (item.remarks > '' ? $('<div class="small text-danger" />').css('font-size', '10px').html('- '+item.remarks):'')
                ).appendTo(served)
                $('<div />').addClass('small text-secondary').css('font-size', '.8rem').html('served '+(item.served > 0 ? item.served + 'm': 'just now')).appendTo(served);
                if(item.served == null){
                    served.removeClass('d-block').addClass('d-none');
                    pending.removeClass('d-none').addClass('d-block');
                }else{
                    served.removeClass('d-none').addClass('d-block');
                    pending.removeClass('d-block').addClass('d-none');
                }

                row.append(pending);
                row.append(served);
                if(duration != item.duration){
                    cntr++;
                    duration = item.duration;
                    groupings[cntr] = {
                        duration: duration,
                        rows: [],
                        served: true
                    }
                }
                if(groupings[cntr].served == true && item.served == null){
                    groupings[cntr].served = false
                    completed = false
                }
                if(item.served && (latest == 0 || latest > item.served)) latest = item.served
                groupings[cntr].rows.push(row);
            });
            for (const cntr in groupings) {
                let g = groupings[cntr]
                let bgc = '#007fffbf';
                let fc = 'white'
                if(g.duration <= 1){
                    bgc = 'purple';
                    fc = 'white';
                }
                if(g.duration > 20){
                    bgc = 'orange';
                    fc = 'white';
                }
                if(g.duration > 30){
                    bgc = 'red';
                    fc = 'white';
                }
                if(g.served){
                    bgc = '#6c757d44';
                }
                let gwrapper = $('<div />').addClass('rounded-1')
                if(!g.served){
                    gwrapper.append(
                        $('<p />').addClass('fw-bold mb-0 text-center mx-0 px-2').css({background:bgc, fontSize:'18px', 'color': fc}).html(
                            $('<span />').html(g.duration > 0 ? g.duration+'m':'now')
                        )
                    );
                }
                g.rows.forEach(row => {
                    gwrapper.append(row);
                })
                $('#table-'+object.client).find('.card-body').append(gwrapper);
            }
            if(completed){
                $('#table-dropdown-'+object.client).html(latest+'m').removeClass('d-none');
                if(this.dropdowns.includes(object.client)){
                    $('#table-'+object.client).find('.card-body').removeClass('d-none');
                    $('#table-'+object.client).find('.card-header').removeClass('rounded');
                }else{
                    $('#table-'+object.client).find('.card-body').addClass('d-none');
                    $('#table-'+object.client).find('.card-header').addClass('rounded');
                }
            }
        }
        this.todos = function(todos){
            let wrapper = $('#todos-wrapper')
            wrapper.html('')
            if(this.kitchen){
                wrapper.css({overflow:'auto'})
                $('<p />').addClass('fs-5 d-flex justify-content-between text-white py-2').append(
                    $('<a />').attr('href', 'javascript:void(0)').addClass('mx-2 text-secondary').html($('<i />').addClass('bi bi-arrow-left')).click(function(){
                        window.localStorage.setItem('kitchen', '');
                        window.localStorage.setItem('observe', []);
                        document.location.reload();
                    }),
                    $('<span />').html(this.kitchen),
                    $('<a />').attr('href', 'javascript:void(0)').addClass('mx-2 text-secondary').html($('<i />').addClass('bi bi-arrow-repeat')).click(function(){
                        document.location.reload()
                    })
                ).appendTo(wrapper)
                for(const category in todos){
                    let rows = []
                    for(const barcode in todos[category]){
                        let todo = todos[category][barcode];
                        if(todo.printer != this.kitchen) continue;
                        let row = $('<p />').addClass('text-white ms-3 mb-0').html(todo.count + ' - ' + todo.name)
                        rows.push(row)
                    }
                    if(rows.length > 0){
                        $('<p />').addClass('text-white text-uppercase fs-5 mb-0 ms-1').html(category).appendTo(wrapper);
                        for(const i in rows){
                            wrapper.append(rows[i])
                        }
                        $('<hr />').addClass('text-light m-1').appendTo(wrapper);
                    }
                }
            }else{
                wrapper.addClass('d-none');
            }
        }

        this.display = async function(response){
            let todos = response.todos
            let tables = response.tables
            let wrapper = $('#observer-wrapper');
            wrapper.css({
                height: window.innerHeight+'px'
            }).addClass('d-flex');

            if(Object.keys(tables).length > 0){
                wrapper.html('').append(
                    $('<div />').addClass('bg-dark').attr('id', 'todos-wrapper').width(this.width()),
                    $('<div />').addClass('flex-fill grid').attr('id', 'tables-wrapper')
                )
                await this.todos(todos)
                for(const key in tables){
                    await this.table(tables[key])
                }
            }else{
                wrapper.addClass('justify-content-center align-items-center fs-1 text-uppercase text-white').html('No orders yet');
            }
        }
    }
    var observe = new Kitchen()
    $(document).ready(function(){
        observe.getKitchens()
        if(observe.kitchen == null){
            $.get('/kitchens').then(function(response){
                observe.kitchenOptions = response
                observe.selectKitchen()
            });
        }else{
            //observe.kitchens = [...[observe.kitchen], ...observe.observe]
            observe.kitchens = [observe.kitchen, ...observe.observe]
            socket.on('connect', function() {
                socket.emit('orders', observe.kitchens);
            }); 
            socket.on('observe', async function(response){
                await observe.display(response);
                $('.grid').masonry()
            });
            socket.on('updated', function(response){
                socket.emit('refresh', response, observe.kitchens)
            });
            socket.on('refreshed', async function(response){
                await observe.todos(response.todos);
                await observe.table(response.table);
                $('.grid').masonry()
            });
        }
        $('body').css('height', '100%').append($('<span />').css({color:'white', position:'absolute', zIndex:999, bottom:0, right:0}).html(window.screen.width+'x'+window.screen.height))
    });
</script>
{% endblock %}