{% extends 'base.html' %}
{% block content %}
<div class="vh-100" id="observer-wrapper" style="background:#34495e; overflow:auto;">
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename= 'js/socket.io.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/masonry.min.js') }}"></script>
<script type="text/javascript">
    var socket = io();
    function Observe(){
        this.kitchens = []
        this.getObserve = function(){
            let observer = window.localStorage.getItem('observer')
            if(!observer) this.kitchens = []
            else this.kitchens = JSON.parse(observer)
        }
        this.setObserve = function (){
            window.localStorage.setItem('observer', JSON.stringify(this.kitchens));
            document.location.reload();
        }
        this.selectKitchen = function(){
            let self = this
            $.get('/kitchens').then(function(response){
                let card = $('<div />').addClass('w-25 shadow-sm card border-0 mx-auto');
                let cardBody = $('<div />').addClass('card-body p-5');
                if(response.length){
                    response.forEach((row, i) => {
                        let id = 'btn-check-'+i;
                        $('<div />').append(
                            $('<input />').attr('type', 'checkbox').addClass('btn-check').attr('id', id).attr('autocomplete', 'off').change(function(){
                                if($(this).is(':checked')){
                                    if(!self.kitchens.includes(row.printer)){
                                        self.kitchens.push(row.printer)
                                    }
                                }else{
                                    const index = self.kitchens.indexOf(row.printer)
                                    self.kitchens.splice(index, 1);
                                }
                            }),
                            $('<label />').addClass('btn btn-outline-success w-100 mb-2').attr('for', id).html(row.printer)
                        ).appendTo(cardBody);
                    });
                }
                let cardFooter = $('<div />').addClass('card-footer text-center bg-white border-0 p-5');
                $('<button />').attr('type', 'button').addClass('btn btn-primary').click(function(){
                    $(this).prop('disabled', true).html('Getting Orders...');
                    self.setObserve();
                }).html('Start Observing').appendTo(cardFooter);
                $('<div />').addClass('card-header border-0 text-center text-uppercase bg-primary text-white fs-5').html('Observe Orders From').appendTo(card)
                cardBody.appendTo(card)
                cardFooter.appendTo(card)

                $('#observer-wrapper').css('padding', '30px 0').html(card);
            });
        }

        this.table = function(object){
            let self = this;

            if(!$('#table-'+object.client).length){
                card = $('<div />').addClass('card m-1 border-0 shadow-sm').attr('id', 'table-'+object.client);
                $('<div />').addClass('card-header border-0 bg-primary text-white fs-6 fw-bold text-start text-uppercase').append(object.name).appendTo(card);
                $('<div />').addClass('card-body p-0').appendTo(card);
                $('<div />').css({float:'left', width:'250px'}).addClass('mb-2').html(card).appendTo($('#tables-wrapper'));
            }
            $('#table-'+object.client).find('.card-body').html('');
            if(!object.items.length) return false;

            let duration = null;
            let cntr = 0;
            let groupings = {};
            object.items.forEach((item) => {
                let row = $('<div />').attr('id', 'id-'+item.id).css('margin', '2px');
                let pending = $('<a />').attr('type', 'button').addClass('text-decoration-none rounded-1 p-2 d-block bg-white').css('border', '1px solid #efefef');
                $('<div />').addClass('fw-bold text-uppercase text-dark').css('font-size', '14px').html(item.name).appendTo(pending);
                if(item.group != 'A') $('<div />').addClass('small text-secondary').css('font-size', '12px').html('- Group '+item.group).appendTo(pending);
                if(item.remarks > '') $('<div class="small text-danger" />').html('- '+item.remarks).appendTo(pending);

                let served = $('<div />').addClass('rounded-1 p-1 served d-block d-flex justify-content-between').css('background','#e4e4e4');
                let g = item.group != 'A' ? '<i>('+item.group+')</i>':''
                $('<div />').append(
                    $('<div />').addClass('fw-bold text-uppercase').css('font-size', '12px').html(item.name+g),
                    (item.remarks > '' ? $('<div class="small text-danger" />').css('font-size', '10px').html('- '+item.remarks):'')
                ).appendTo(served)
                $('<div />').addClass('small text-secondary').css('font-size', '10px').html('served '+(item.served > 0 ? item.served + 'm': 'just now')).appendTo(served);
                if(item.served == null){
                    served.removeClass('d-block').addClass('d-none');
                    pending.removeClass('d-none').addClass('d-block');
                }else{
                    served.removeClass('d-none').addClass('d-block');
                    pending.removeClass('d-block').addClass('d-none');
                }
                pending.click(function(){
                    if(confirm(`Serve ${item.name} for table ${item.table}?`)){
                        $.post('/order/serve', {id:item.id}).done(function(){
                            //do nothing
                            //emit('served', item.client, broadcast=True)
                        });
                    }
                });

                row.append(pending);
                row.append(served);
                if(duration != item.duration){
                    cntr++;
                    duration = item.duration;
                    groupings[cntr] = {
                        duration: duration,
                        rows: [],
                        served: true
                    }
                }
                if(groupings[cntr].served == true && item.served == null) groupings[cntr].served = false
                groupings[cntr].rows.push(row);
            });
            for (const cntr in groupings) {
                let g = groupings[cntr]
                let bgc = '#007fffbf';
                let fc = 'white'
                if(g.duration > 20){
                    bgc = 'orange';
                    fc = 'white';
                }
                if(g.duration > 30){
                    bgc = 'red';
                    fc = 'white';
                }
                if(g.served){
                    bgc = '#6c757d44';
                }
                let gwrapper = $('<div />').addClass('rounded-1')
                if(!g.served){
                    gwrapper.append(
                        $('<p />').addClass('fw-bold mb-0 text-center mx-0 px-2').css({background:bgc, fontSize:'18px', 'color': fc}).html(
                            $('<span />').html(g.duration > 0 ? g.duration+'m':'now')
                        )
                    );
                }
                g.rows.forEach(row => {
                    gwrapper.append(row);
                })
                $('#table-'+object.client).find('.card-body').append(gwrapper);
            }
        }

        this.display = async function(response){
            console.log('r', response);
            if(Object.keys(response).length > 0){
                $('#observer-wrapper').html($('<div />').addClass('grid').attr('id', 'tables-wrapper'));
                for(const key in response){
                    await this.table(response[key])
                }
            }else{
                $('#observer-wrapper').html($('<div />').addClass('vh-100 d-flex justify-content-center align-items-center fs-1 text-uppercase text-white').html('No orders yet.'));
            }
        }
    }
    var observe = new Observe()
    $(document).ready(function(){
        observe.getObserve()
        if(observe.kitchens.length > 0){
            socket.on('connect', function() {
                socket.emit('read', observe.kitchens);
            }); 
            socket.on('observe', async function(response){
                await observe.display(response);
                $('.grid').masonry({percentPosition: true})
            });
            socket.on('updated', function(response){
                socket.emit('refresh', response, observe.kitchens)
            });
            socket.on('refreshed', async function(response){
                await observe.table(response);
                $('.grid').masonry('reloadItems')
            });
        }else{
            observe.selectKitchen()
        }
    });
</script>
{% endblock %}