{% extends 'base.html' %}

{% block content %}
    <div class="vh-100">
        <div style="height:60px;" class="bg-light d-flex align-items-center shadow-sm justify-content-between">
            <div class="d-flex align-items-center">
                <a href="/?floor={{data.table.flr|urlencode}}" class="fw-bold ms-1 me-3 btn btn-light fs-4"><i class="bi bi-arrow-left"></i></a>
                <div class="fs-4 fw-bold text-dark text-capitalize">Order for table: {{data.table.clientname}}</div>
            </div>
            <div>
                {%if data.printable%}
                    <button type="button" data-table="{{data.table.clientname}}" id="accept-order" class="btn btn-success mx-2">Accept Order</button>
                {%endif%}
            </div>
        </div>
        <div style="height: calc(100% - 60px);" class="bg-white d-block">
            <div class="row h-100 m-0">
                <div class="col-4 bg-light border-end border-light h-100 p-0">
                    <div style="height:calc(100% - 60px); overflow:auto;">
                        <table class="table">
                            <thead>
                                <tr class="bg-secondary">
                                    <th scope="col" class="text-uppercase">Item</th>
                                    <th scope="col" class="text-uppercase">Qty</th>
                                    <th scope="col" class="text-uppercase text-end">Amt</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for item in data.orders%}
                                    <tr class="alert {{'alert-success' if item.printed else 'alert-warning'}} border-0">
                                        <th scope="row">{{item.name}}</th>
                                        <td class="text-left">
                                            {%if item.printed == 1%}
                                                {{(item.qty|round(2)|string).rstrip('.0')}}
                                            {%else%}
                                                <form method="post" class="p-0 m-0" action="/transaction">
                                                    <input type="hidden" name="table" value="{{data.table.clientname}}">
                                                    <input type="hidden" name="barcode" value="{{item.barcode}}">
                                                    <input name="qty" class="alert alert-warning border-0 p-0 m-0 border-bottom border-warning rounded-0" size="5" style="text-align: left;" value="{{(item.qty|round(2)|string).rstrip('.0')}}"/>
                                                </form>
                                            {%endif%}
                                        </td>
                                        <td class="text-end">{{"{:,.2f}".format(item.amount)}}</td>
                                        <td width="25px">
                                            {%if item.printed == 0%}
                                                <form method="post" class="p-0 m-0 d-flex justify-content-end" action="/transaction">
                                                    <input type="hidden" name="table" value="{{data.table.clientname}}">
                                                    <input type="hidden" name="barcode" value="{{item.barcode}}">
                                                    <input type="hidden" name="qty" value="0">
                                                    <button type="submit" class="bg-danger text-white rounded-circle" style="border:0; padding:0 3.5px;"><i class="bi bi-dash"></i></button>
                                                </form>
                                            {%endif%}
                                        </td>
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                    <div style="height:60px;" class="bg-secondary d-flex align-items-center justify-content-between p-3">
                        <span class="fs-4 text-uppercase">Total</span>
                        <span class="fs-4">{{"{:,.2f}".format(data.total)}}</span>
                    </div>
                </div>
                <div class="col-8 bg-white h-100">
                    <div class="row h-100">
                        <div class="col-10 h-100">
                            <div style="height: 50%; overflow:auto" class="border-bottom">
                                <div class="row row-cols-6">
                                    {%for product in data.products%}
                                        <div class="col h-100 mt-1">
                                            {%if product.barcode > ''%}
                                                <form class="h-100" method="post" action="/transaction">
                                                    <input type="hidden" name="id" value="0"/>
                                                    <input type="hidden" name="barcode" value="{{product.barcode}}" />
                                                    <input type="hidden" name="table" value="{{data.table.clientname}}" />
                                                    <button type="submit" class="btn btn-light w-100 h-100 text-button-label">{{product.itemname}}</button>
                                                </form>
                                            {%else%}
                                                <div class="h-100">
                                                    <a href="?category={{product.class|urlencode}}&group={{product.itemname|urlencode}}" type="button" class="btn btn-light w-100 h-100 text-button-label">{{product.itemname}}</a>
                                                </div>
                                            {%endif%}
                                        </div>
                                    {%endfor%}
                                </div>
                            </div>
                            <div style="height: 50%; overflow:auto">
                                <div class="row row-cols-6">
                                    {%for subProduct in data.subProducts%}
                                        <div class="col h-100">
                                            <form class="p-2 h-100" method="post" action="/transaction">
                                                <input type="hidden" name="id" value="0"/>
                                                <input type="hidden" name="barcode" value="{{subProduct.barcode}}" />
                                                <input type="hidden" name="table" value="{{data.table.clientname}}" />
                                                <button type="submit" class="btn btn-light w-100 h-100 text-button-label">{{subProduct.itemname}}</button>
                                            </form>
                                        </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="col-2 h-100 bg-light" style="overflow-y: auto;">
                            <div class="row">
                                {%for category in data.categories%}
                                    <div class="col">
                                        <div class="p-2">
                                            <a href="?category={{category.name|urlencode}}" type="button" class="btn btn-secondary w-100 text-button-label">{{category.name}}</a>
                                        </div>
                                    </div>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}