
{% extends 'base.html' %}

{% block content %}
<div style="position:fixed; height:100%;width:100%; display:block;">
    <div style="position:fixed; height:60px; width:100%;" class="d-flex justify-content-between align-items-center bg-light shadow-sm">
        <div class="d-flex align-items-center">
            <a href="/?floor={{data.table.flr|urlencode}}" class="fw-bold ms-1 me-3 btn btn-light fs-4"><i class="bi bi-arrow-left"></i></a>
            <div class="fs-4 fw-bold text-dark text-capitalize">Table: {{data.table.clientname}}</div>
        </div>
        <div><input name="search" id="search" placeholder="Type to search..."></div>
        <div>
            <button type="button" data-table="{{data.table.clientname}}" id="accept-order" class="btn btn-success mx-2">Accept Order</button>
        </div>
    </div>
    <div style="position:fixed; margin-top:60px; height:calc(100% - 60px);width:30%;">
        <div style="height:100%; position:relative;">
            <div class="d-flex bg-dark text-white" style="position:absolute; width:100%; top:0; height:30px;">
                <div  style="width:50%; padding:3px;">Item</div>
                <div  style="width:15%; padding:3px;" class="text-end">Qty</div>
                <div  style="width:35%; padding:3px;" class="text-end">Amount</div>
                <!-- <div  style="width:10%;">&nbsp;</div> -->
            </div>
            <div style="position:absolute; top:30px; width:100%; height:calc(100% - 70px); overflow:auto;">
                <table id="orderTable" style="width:100%;">
                    <tbody>
                        {%for item in data.orders%}
                            <tr data-barcode="{{item.barcode}}" class="orderLine alert {{'printed' if item.printed else ''}} border-0">
                                <td style="width:50%; padding:3px;" class="itemName">
                                    <small>{{item.name}}</small>
                                    <div style="color:red;font-size:11px">{{item.remarks}}</div>
                                </th>
                                <td style="width:15%; padding:3px;" class="text-end itemQty">
                                    {{(item.qty|round(2)|string).rstrip('.0')}}
                                    <!-- {%if item.printed == 1%}
                                        {{(item.qty|round(2)|string).rstrip('.0')}}
                                     {%else%}
                                        <form method="post" class="p-0 m-0" action="/transaction">
                                            <input type="hidden" name="table" value="{{data.table.clientname}}">
                                            <input type="hidden" name="barcode" value="{{item.barcode}}">
                                            <input name="qty" class="alert alert-warning border-0 p-0 m-0 border-bottom border-warning rounded-0" size="5" style="text-align: center;" value="{{(item.qty|round(2)|string).rstrip('.0')}}"/>
                                            <input name="remarks" class="mt-1" size="5" style="text-align: center;" value=""/>
                                        </form>
                                    {%endif%} -->
                                </td>
                                <td style="width:35%; padding:3px;" class="text-end itemPrice">{{"{:.2f}".format(item.amount)}}</td>
                                <!-- <td style="width:10%;">
                                    {%if item.printed == 0%}
                                        <form method="post" class="p-0 m-0 d-flex justify-content-end" action="/transaction">
                                            <input type="hidden" name="table" value="{{data.table.clientname}}">
                                            <input type="hidden" name="barcode" value="{{item.barcode}}">
                                            <input type="hidden" name="qty" value="0">
                                            <button type="submit" class="bg-transparent" style="border:0;"><small><i class="bi bi-dash-circle-fill text-danger"></i></small></button>
                                        </form>
                                    {%endif%}
                                </td> -->
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div style="position:absolute; width:100%; bottom:0; height:80px;">
                <div class="d-flex align-items-center mb-2">
                    <button type="button" class="addQty btn btn-secondary w-100 h-100 text-button-label fw-bold" style="font-size:18px;"><i class="bi bi-plus-circle-fill text-white"></i></button>
                    <button type="button" class="minusQty btn btn-secondary w-100 h-100 text-button-label fw-bold mx-2" style="font-size:18px"><i class="bi bi-dash-circle-fill text-white"></i></button>
                    <button type="button" class="remarks btn btn-secondary w-100 h-100 text-button-label fw-bold" style="font-size:18px"><i class="bi bi-info-circle-fill text-white"></i></button>
                </div>
                <div class="d-flex px-1 justify-content-between bg-dark text-white">
                    <strong class="text-uppercase" style="padding: 5px 3px;">Total</strong>
                    <strong style="padding:5px 0 5px 3px;" id="total">{{"{:,.2f}".format(data.total)}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div style="position:fixed; margin-top:60px; margin-left:30%; height:calc(100% - 60px); width:calc(100% - 30%);" class="d-flex">
        <div style="height:100%; width:calc(100% - 100px);">
            <div style="height:50%; overflow:auto; border-bottom:1px solid gray; padding:5px;">
                <div class="row row-cols-6" id="products">
                    <!-- {%for product in data.products%}
                        <div class="col h-100 mt-1">
                            {%if product.barcode > ''%}
                                <div class="col h-100 addItem" data-barcode="{{product.barcode}}" data-name="{{product.itemname}}"  data-price="{{product.amt}}">
                                    <button type="button" class="btn btn-light w-100 h-100 text-button-label">{{product.itemname}}</button>
                                </div>
                            {%else%}
                                <div class="h-100">
                                    <a href="?category={{product.class|urlencode}}&group={{product.itemname|urlencode}}" type="button" class="btn btn-light w-100 h-100 text-button-label">{{product.itemname}}</a>
                                </div>
                            {%endif%}
                        </div>
                    {%endfor%} -->
                </div>
            </div>
            <div style="height:50%; overflow:auto; padding:5px;">
                <div class="row row-cols-6" id="subProducts">
                    <!-- {%for subProduct in data.subProducts%}
                        <div class="col h-100 addItem" data-barcode="{{subProduct.barcode}}" data-name="{{subProduct.itemname}}"  data-price="{{subProduct.amt}}">
                            <button type="button" class="btn btn-light w-100 h-100 text-button-label">{{subProduct.itemname}}</button>
                        </div>
                    {%endfor%} -->
                </div>
            </div>
        </div>
        <div style="height:100%; width:100px; overflow:auto;" class="bg-light">
            {%for category in data.categories%}
                <div style="padding:5px;">
                    <!-- <a href="?category={{category.name|urlencode}}" style="text-decoration:none; width:100%; border-radius:5px; padding: 5px; text-align:center; overflow:visible; display:block;" class="text-white bg-secondary text-button-label">{{category.name}}</a> -->
                    <div id="category" type="button" data-category="{{category.name}}" style="text-decoration:none; width:100%; border-radius:5px; padding: 5px; text-align:center; overflow:visible; display:block;" class="text-white bg-secondary text-button-label">{{category.name}}</div>
                </div>
            {%endfor%}
        </div>
    </div>

    <div style="position:absolute;width:300px;left:30%;top:60px;border: 1px solid #aaa;" class="bg-light text-center" id="remarksModal">
        <div class="p-4 w-100" style="position:relative;">
            <button id="closeRemarks" class="btn btn-danger text-white" style="position:absolute;right:10px;top:10px">X</button>
            <div class="fw-bold mb-3" id="remarkProduct"></div>
            <div class="mb-4"><input name="remarks" id="remarkInput" placeholder="Add remarks"></div>
            <div id="remarkOptions"></div>
        </div>
    </div>

</div>

{% endblock %}