
{% extends 'base.html' %}

{% block content %}
    <div class="vh-100">
        <div style="height:60px;" class="bg-light d-flex align-items-center justify-content-center">
            {%if data.floors|length > 1%}
            <div class="w-100">
               	<div class="d-flex align-items-center">
                    {%for floor in data.floors%}
                    <a class="d-flex justify-content-between text-decoration-none btn btn-sm {{ 'text-success fw-bold' if floor.name == data.floor else 'text-secondary'}}" href="?floor={{floor.name|urlencode}}">{{floor.name}} {%if floor.name == data.floor%}<i class="bi bi-check text-success"></i>{%endif%}</a>
                    {%endfor%}
                </div>
            </div>
            {%else%}
                <div class="fs-4 fw-bold text-dark text-capitalize">{{data.floor}} floor</div>
            {%endif%}

        </div>
        <div style="height: calc(100% - 60px); overflow:auto;" class="bg-white d-block position-relative">
            {%for table in data.tables%}
            <a href="/table/{{table.id}}"  data-x="{{table.left}}" data-y="{{table.top}}" style="position:absolute; top:{{table.top}}px; left:{{table.left}}px; height:50px; width:100px;" class="tablex alert {{ 'alert-success' if table.inuse else 'alert-warning' }} text-decoration-none rounded-3 shadow-sm d-flex align-items-center justify-content-center fw-bold">
                <div>{{table.name}}</div>
            </a>
            {%endfor%}
        </div>
    </div>
{% endblock %}